.BTN{
    border-radius:15px;
    font-family: comic sans MS;
}
.suc_err_div{
    height:35px;
    color:white; 
    background-color: lightgreen;
    border-radius:5px; 
    width:auto; 
    height:auto; 
    padding: 5px; 
    font-family: Tahoma; 
    font-weight: 14px;
}
.my{
   list-style:circle; 
    font-family:Tahoma;
    color:red; 
    padding:4px; 
    margin-top:1px; 
    width:auto;
    height:auto; 
    /*border-radius:5px; */   
    
}
.feather{
    width: .875rem;
    height: .875rem;
    vertical-align: text-bottom;
    
}

.sc_style{
    border-radius:20px;
    padding:8px; 
    text-transform:capitalize; 
    font-size:14px; 
    background-color: black; 
    border: 1px solid black;
}
.sc_mouse{
    border-radius:20px;
    padding:8px; 
    text-transform:capitalize; 
    font-size:14px; 
    background-color: white; 
    color:black;
}
.n_d{
    display: none;
}
.t_d{
    display: block;
}
b_fore{
background-color: white;
color: black;    
}

#navbars{
        position: relative;
    }
@media screen and (max-width: 900px) {
 
#navbars{
        position: absolute;
    width: 100%;
    z-index: 9999;
    }    
}